/* 100% = 16px in font-size */

body {
  font-size: 1.3em;
  margin: 0;
  color: #40514e;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.intro
{
  margin: auto;
  width: 40%;
}

.top-container
{
  z-index: -2;
  background-color: #e8ffff;
  position: relative;
  padding-top: 50px;
}

.middle-container
{
  margin: 100px;
}




p
{
  line-height: 2;

}

h1 {
  color: #66bfbf;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2
{
  color: #11999e;
  font-weight: normal;
  font-size: 2.5rem;
  font-family: 'Roboto Slab', serif;
}

h3 {
  color: #66bfbf;
  font-family: 'Roboto Slab', serif;
}

hr
{
  border: 6px black dotted ;
  border-bottom: none;
  width: 40%;
  margin: 100px auto;
}

#top-cloud {
  z-index: -1;
  width: auto;
  height: 250px;
  position: absolute;
  right: 100px;
  top: 10px;

}

#bottom-cloud {
  z-index: -1;
  width: auto;
  height: 250px;
  position: absolute;
  left: 100px;
  bottom: 270px;
}

.profile-img {
  height: 200px;
  width: auto;
  border-radius: 100%;
}



.skill-row
{
  width: 50%;
  margin:100px auto 100px auto;
  text-align: left;

}

/* @media screen and (max-width: 480px) {
  .skill-row
  {
    background-color: #9ad3bc;
    padding: 10px;
    border-radius: 30%;
  }

} */




.c-img {
  margin-right: 30px;
  float: left;
  width: 25%;
  border-radius: 100%;
}

.java-img {
  margin-left: 30px;

  float: right;
width: 25%;
  border-radius: 100%;
}

.python-img {
  margin-right: 30px;

  float: left;
  width: 25%;
  border-radius: 100%;
}

.bash-img {
  margin-left: 30px;

  float: right;
  width: 25%;
  border-radius: 100%;
}

.linux-img {
  margin-right: 30px;

  float: left;
  width: 25%;
  border-radius: 50%;
}

.html-css-img {
  margin-left: 30px;

  float: right;
  width: 25%;
  border-radius: 100%;
}

.mysql-img {
  margin-right: 30px;

  float: left;
  width: 25%;
  border-radius: 100%;
}

.projects-row
{
  width: 50%;
  margin:100px auto 100px auto;
  text-align: left;

}

.snake-img
{
  margin-right: 30px;

  width: 20%;
  height: auto;
  float: left;
}

.pong-img
{

  width: 20%;
  height: auto;
  float: right;
}

.road-img
{
  margin-right: 30px;
  width: 20%;
  height: auto;
  float: left;
}
.contact-message
{
  width: 40%;
  margin: 40px auto 60px;
}


.btn {
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#2dabf9;
	border-radius:12px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
  font-family: 'Roboto Slab', serif;
	color:#ffffff;
	font-size:18px;
	padding:9px 28px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.btn:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}
.btn:active {
	position:relative;
	top:1px;
}
.bottom-container
{
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

a
{
  color: #11999e;
  font-family: 'Roboto Slab', serif;
  margin: 10px 20px;
  text-decoration: none;
}

.project-links
{
  color: #aee6e6;
}

a:hover
{
  text-decoration: underline;
}

.copyright
{
  color: #eaf6f6;
  font-size: 0.75em;
  padding: 20px 0px;
}
